:root {
    --cor-fundo: #03032bdc;
    --cor-principal: #020707b9;
    --cor-secundaria: #5d5e6985;
    --cor-destaque: #0056b3;
    --cor-texto: #D7F9FF;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

.caixa-perguntas {
    margin-top: 20px;
    font-size: 1.5em;
}

h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
    margin: 5px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);

}
    .caixa-alternativas button {
        margin: 10px;
        padding: 10px 20px;
        font-size: 1em;
        cursor: pointer;
    }

    .texto-resultado {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        transition: color 0.3s ease;
    }

    .texto-resultado.erro {
        color: red;
    }

    .texto-resultado.acerto {
        color: green;
    }
    .texto-resultado.ouro {
        color: #f5d107;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
#reiniciar {
    position:sticky;
    top: 10%; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
    margin: 5px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    cursor:pointer;
}

#reiniciar:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

#nomes {
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
    font-size: 14px;
    color: #ffffff; 
    padding: 5px; 
    border-radius: 5px; 
}
.dourado {
    color: gold;
}

.verde {
    color: green;
}

.vermelho {
    color: red;
}

.carmesim {
    color: crimson;
}
